#=========================================================================
# Git Ignore Files
#=========================================================================

#Ignore cookies file
*cookies.txt
*Test.py
__pycache__/
.pytest_cache/
*.xlsx
build/