#=========================================================================
# Git Ignore Files
#=========================================================================

#Ignore cookies file
cookies.txt